<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <title>Online GradeBook app</title>
</head>

<body>
<h3>Edit the employee</h3>

<form action="#" th:action="@{/employees/edit/{id}(id=${employee.ID})}" th:object="${employee}" th:method="post">
    <p>Name: <input type="text" th:field="*{name}" /></p>
    <p>Address: <input type="text" th:field="*{address}" /></p>
    <p>EGN: <input type="text" th:field="*{EGN}" /></p>
    <p>Qualifications: <input type="text" th:field="*{qualification}" /></p>
    <p>Role: <select name="role">
        <option th:each="roles:${T(com.example.onlinegradebook.constant.RoleType).values()}"
                th:value="${roles}"
                th:text="${roles}"></option>
    </select></p>
    <p>Salary: <input type="text" th:field="*{salary}" /></p>
    <p><input type="submit" value="Submit" /></p>
</form>


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script
        src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>